doctype html
html
  head
    title Órdenes de Compra
    link(rel="stylesheet", href="/css/catalog.css")
  body
    h1 Órdenes de Compra

    table(border="1")
      thead
        tr
          th ID
          th Producto
          th Descripción
          th Fecha
          th Categoría
          th Precio&nbsp;Unitario
          th Cantidad
          th Total
          th Proveedor
          th Estado
      tbody
        each order in orders
          tr
            td= order.orderId
            td= typeof order.product === 'string' ? order.product : order.product.name
            td= order.description
            td= order.date.toISOString().slice(0,10)   
            td= order.category
            td $#{order.price}
            td= order.quantityProduct
            td $#{order.total}
            td= order.supplierId
            td= order.status
