doctype html 
html
    head
        title Catalogo de Artículos de Librería
        link(rel='stylesheet', href='/css/catalog.css')
    body 
        h1 Catalogo de Artículos de Librería 
        table(border='1')
            thead 
                tr 
                    th ID
                    th Nombre
                    th Marca 
                    th Descripción 
                    th Sección 
                    th Precio 
                    th Stock 
            tbody 
                each supply in schoolSupplies 
                    tr 
                        td= supply.schoolSupplyId 
                        td= supply.name
                        td= supply.brand
                        td= supply.description 
                        td= supply.section  
                        td $#{supply.price}
                        td= supply.stock

div(style="text-align: center; margin-top: 2rem;")
 a(href="/dashboard", class="back-button") ⬅️ Volver