doctype html 
html
    head
        title Catalogo de Revistas
        link(rel="stylesheet", href="/css/style.css")
    body 
        button(onclick="location.href='/dashboard'") Volver
        h1 Catalogo de Revistas 
        table
            thead 
                tr 
                    th ID
                    th Nombre
                    th Fecha
                    th Edición del Año
                    th Número  
                    th ISSN 
                    th Sección
                    th Precio 
                    th Stock 
            tbody 
                each magazine in magazines 
                    tr 
                        td(class='num')= magazine.magazineId
                        td= magazine.name
                        td= magazine.date
                        td(class='num')= magazine.issueNumber 
                        td(class='num')= magazine.number
                        td(class='num')= magazine.issn 
                        td= magazine.section 
                        td(class='num') $#{magazine.price}
                        td(class='num')= magazine.stock