doctype html 
html
    head
        title Ventas
        link(rel="stylesheet", href="/css/style.css")
    body 
        button(onclick="location.href='/dashboard'") Volver 
        h1 Ventas
        table
            thead 
                tr 
                    th ID 
                    th Producto
                    th Fecha 
                    th Descripcion
                    th Categoria 
                    th Precio 
                    th Cantidad
                    th Total 
            tbody 
                each sale in sales 
                    tr 
                    td(class='num')= sale.saleId 
                    td= sale.product
                    td= sale.date
                    td= sale.description 
                    td= sale.category 
                    td(class='num') $#{sale.price}
                    td(class='num')= sale.quantityProduct
                    td(class='num') $#{sale.total}