doctype html 
html
    head
        title Catalogo de Artículos de Librería
        link(rel="stylesheet", href="/css/style.css")
    body 
        button(onclick="location.href='/dashboard'") Volver 
        h1 Catalogo de Artículos de Librería 
        table
            thead 
                tr 
                    th ID
                    th Nombre
                    th Marca 
                    th Descipción 
                    th Sección 
                    th Precio 
                    th Stock 
            tbody 
                each supply in schoolSupplies 
                    tr 
                        td(class='num')= supply.schoolSupplyId 
                        td= supply.name
                        td= supply.brand
                        td= supply.description 
                        td= supply.section  
                        td(class='num') $#{supply.price}
                        td(class='num')= supply.stock