doctype html 
html
    head
        title Proveedores
        link(rel="stylesheet", href="/css/style.css")
    body 
        button(onclick="location.href='/dashboard'") Volver 
        h1 Proveedores
        table
            thead 
                tr 
                    th ID de Proveedor 
                    th Nombre
                    th Telefono 
                    th Email
                    th Categoria
            tbody 
                each supplier in suppliers 
                    tr 
                    td= supplier.supplierId
                    td= supplier.name
                    td= supplier.phoneNumber
                    td= supplier.email
                    td= supplier.category 